{% extends "base.html" %}

{% block content %}
<h2>Secure Login</h2>
{% if error %}
<div class="alert">{{ error }}</div>
{% endif %}
<form method="POST">
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter 'user'" required>

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter 'password'" required>

    <button type="submit" class="btn">Authentifier</button>
</form>
<p style="margin-top: 20px; font-size: 0.9em; color: #888;">Hint: Use <b>user</b> / <b>password</b></p>
{% endblock %}